.nav-link {
    transition: 300ms border-bottom;
}

.nav-link.active {
    border-bottom: 2px solid white;

}

.input {

    border-bottom: 4px solid black;
    /* background-color: ; */
}

.input:focus {
    outline: none;
}